body {
    background: #F5F5F5;
}

.analytics {
    margin: 1.3rem 1.3rem 0 1.3rem;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.25);
}

.analytics__leftBody {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 80px;
}

.analytics__leftBody__header {
    display: flex;
    width: 100%;
}

.analytics__leftBody__header__content {
    display: flex;
    height: 100%;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid #000000;
    padding-left: 7px !important;
    padding-right: 7px !important;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

.left-margin {
    margin-left: 10vw;
    width: 170px;
    margin-right: 2vw;
}

.analytics__leftBody__graph {
    height: 100%;
    width: 100%;
}

.graph__chart {
    position: relative;
    right: 11vw;
    bottom: 5vw;

}

.analytics__rightBody {
    flex: 0.3;
    margin-top: 50px;
    line-height: 36px;
}