.navbar {
    display: flex;
    background: #FE5722;
    height: 60px;
    align-items: center;
    color: white;
    box-shadow: -20px 4px 28px 5px rgba(0, 0, 0, 0.25);
}

.navbar__logo,
.navbar__vehicles,
.navbar__map,
.navbar__analytics,
.navbar__report {
    display: flex;
    padding: 15px 0;
    height: 100%;
    width: 10rem;
    align-items: center;
    min-width: 80px;
    justify-content: center;
}

.bottom-border {
    border-bottom: 4px solid white;
}

a {
    text-decoration: none;
    color: white;
}