.vehicles-page {
    background: #fff;
    height: 90vh;
}

.all {
    background-color: white;
    color: #030c04c9;
    border: 2px solid #030c04c9;
    width: 80px;
    height: 25px;
    margin: 15px 4px;
    text-align: center;
    font-size: 12px;
    border-radius: 12px;
}

.running {
    background-color: white;
    color: #00a713c9;
    border: 2px solid #00a713c9;
    width: 80px;
    height: 25px;
    margin: 15px 4px;
    text-align: center;
    font-size: 12px;
    border-radius: 12px;
}

.idle {

    background-color: white;
    color: #E8AA31;
    border: 2px solid #E8AA31;
    width: 80px;
    height: 25px;
    margin: 15px 4px;
    text-align: center;
    font-size: 12px;
    border-radius: 12px;
}

.parked {
    background-color: white;
    color: #FE0000;
    border: 2px solid #FE0000;
    width: 80px;
    height: 25px;
    margin: 15px 4px;
    text-align: center;
    font-size: 12px;
    border-radius: 12px;
}

.unknown {
    background-color: white;
    color: #030c0467;
    border: 2px solid #030c0467;
    width: 80px;
    height: 25px;
    margin: 15px 4px;
    text-align: center;
    font-size: 12px;
    border-radius: 12px;
}

.carstate {
    margin-top: 5px;
    margin-left: 20px;
}

.main {
    display: flex;
    border-radius: 15px 0px 0px 15px;
    padding-left: 20px;
}

.cars {
    background-color: rgba(254, 87, 34, 0.12);
    padding: 10px;
    border-radius: 15px 0px 0px 15px;
}

.vehicles-map>img {
    height: 100%;
    width: 70vw;
}