.vehiclesInfoHeading {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 20px;
    border-bottom: 2px solid lightgray;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    margin-top: 10px;
    height: 100%;
}

.vehiclesInfoHeading__element {
    margin: auto 10px;
}

.vehiclesInfoContent {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 20px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 10px;
    padding-bottom: 8px;
    height: 100%;
}

.vehiclesInfoContent__element {
    margin: auto 10px;
}